<!DOCTYPE html>
<html lang="kr">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>aniPortfolio</title>
</head>
<body>
  <script src="https://code.createjs.com/1.0.0/easeljs.min.js"></script>
  <script src="https://code.createjs.com/1.0.0/tweenjs.min.js"></script>
  <script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
  <script src="https://code.createjs.com/1.0.0/preloadjs.min.js"></script>
  <script>
    const backImg = "{% static 'assets/img/background.png' %}";
    const walkImg = "{% static 'assets/img/walk.png' %}";
  </script>
  <script src="{% static 'js/common.js' %}"></script>
  <div class="canvasHolder">
    <canvas id="canvas" width="960" height="600" style="border:1px solid black;"></canvas>
  </div>
</body>
</html>