<!DOCTYPE html>
<html lang="kr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>aniPortfolio</title>
</head>
<body >
  <script src="{% static 'js/common.js' %}"></script>
  <script src="https://code.createjs.com/1.0.0/easeljs.min.js"></script>
  <script src="https://code.createjs.com/1.0.0/tweenjs.min.js"></script>
  <script src="https://code.createjs.com/1.0.0/soundjs.min.js"></script>
  <script src="https://code.createjs.com/1.0.0/preloadjs.min.js"></script>
  <div class="canvasHolder">
    <canvas id="canvas" width="960" height="400"></canvas>
  </div>
</body>
</html>